body{
    background-color: #240404;
    color: #f5faff;
    font-size: 30px;
    align-items: center;
}
#main{
    text-align-last: center;
    background-color: #5c0505;
    height: 400px;
}
p{
    background-color: #401683;
    align-content: center;
    width: 150px;
    height: 30px;
    padding: 30px;
    display: inline-block;
}
#res{
    background-color: #440431;
    display: inline-block;
    margin: 0;
    padding: 15px;
    width: 350px;
    height: 40px;
}